attrs==19.3.0
bleach==3.1.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
docutils==0.15.2
idna==2.8
keyring==20.0.0
more-itertools==8.2.0
packaging==20.1
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.8.1
Pygments==2.5.2
pyparsing==2.4.6
pytest==5.3.5
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.13.0
-e git+git@github.com:bakasoft/stx.git@a29d5c36a08ad57d94e6c31dc30a76062632797d#egg=stx
tqdm==4.41.0
twine==3.1.1
urllib3==1.25.7
wcwidth==0.1.8
webencodings==0.5.1
